<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explorer</title>
    <script>
        function changeAction(){
        var formObject = document.getElementById('formURL');
        formObject.action = "explorer/" + document.getElementById('search_type').value;
        }
    </script>
    <style>
        h1{
            color: blue;
            text-align: center;
            font-size: 70pt;
        }
        body{
            background-color: chartreuse;
        }
        form{
            text-align: center;
            font-size: 70pt;
        }
        input{
            font-size: 30pt;
        }
        select{
            font-size: 30pt;
        }
    </style>
</head>
<body>
    <h1>BLOCKCHAINを検索</h1>
    <form action="" id="formURL">
        <select id="search_type" onchange="changeAction()">
            <option>---</option>
            <option value="blockchain_address" >blockchain address</option>
            <option value="block">block</option>
        </select><br>
        <label>
            検索:<input type="search" name="search_value" size="45" spellcheck="false">
        </label>
        <input type="submit">
    </form>
    <a target="_blank" href="https://www.bitaddress.org/bitaddress.org-v3.3.0-SHA256-dec17c07685e1870960903d8f58090475b25af946fe95a734f88408cef4aa194.html">bit_address.org</a>
</body>
</html>